body.night {
  ::selection {
    background-color: #fff;
    color: #222;
  }

  main {
    background-color: #222;
  }

  .description {
    color: #fff;
  }

  .choose-city {
    background-color: #222;
    color: #fff;

    form {
      input, button {
        color: #fff;
      }
    }
  }

  footer {
    color: rgba(255,255,255,.7);
  }
}